*{
    margin: 0;
    padding: 0;
}
.hero-section {
    position: relative;
    height: 500px;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-cards {
    position: absolute;
    top: 250px;
    left: 50px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.product-card {
    width: 300px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    z-index: 2;
    position: relative;
    padding-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100px;
    height: 150px;

    object-fit: cover;
}

.product-card h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.product-card p {
    margin-top: 20px;
    font-size: 16px;
}