*{
    margin: 0;
    padding: 0;
}
/* flexbox container */
.container{
    height: 80vh;
    width: 90vw;
    background-color: beige;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}

.flexItem{
    height: 200px;
    width: 200px;
    /* display: inline-block; */
}

.item1{
    background-color: tomato;
    gap: 1rem;
    order: 2
}
.item2{
    background-color: teal;
}
.item3{
    background-color: violet;
}